---
http_interactions:
- request:
    method: get
    uri: https://judge0-ce.p.rapidapi.com/submissions/a3775be2-1d09-4056-ba97-878b613a6e82?base64_encoded=false&fields=source_code,stdout,stderr,status_id,language_id,token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Rapidapi-Key:
      - 406c712f9amshd3f29dc7399bf53p1e12f7jsnf2d52b6c80e2
      X-Rapidapi-Host:
      - judge0-ce.p.rapidapi.com
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7392e21a9d20c1ead84414fe61646343"
      X-Judge0-Region:
      - AS
      X-Judge0-Tat:
      - '361'
      X-Ratelimit-Batched-Submissions-Limit:
      - '50'
      X-Ratelimit-Batched-Submissions-Remaining:
      - '50'
      X-Ratelimit-Batched-Submissions-Reset:
      - '70700'
      X-Ratelimit-Submissions-Limit:
      - '50'
      X-Ratelimit-Submissions-Remaining:
      - '49'
      X-Ratelimit-Submissions-Reset:
      - '70700'
      X-Ratelimit-Rapid-Free-Plans-Hard-Limit-Limit:
      - '500000'
      X-Ratelimit-Rapid-Free-Plans-Hard-Limit-Remaining:
      - '499740'
      X-Ratelimit-Rapid-Free-Plans-Hard-Limit-Reset:
      - '1798700'
      X-Rapidapi-Version:
      - 1.2.8
      X-Rapidapi-Region:
      - AWS - ap-southeast-1
    body:
      encoding: ASCII-8BIT
      string: '{"source_code":"def add(a, b)\n  p a + b\nend\n\nadd(5, 5)","language_id":72,"stdout":"10\n","status_id":3,"stderr":null,"token":"a3775be2-1d09-4056-ba97-878b613a6e82"}'
  recorded_at: Thu, 25 Jul 2024 16:02:21 GMT
recorded_with: VCR 6.2.0
